In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('breast-cancer-wisconsin.csv')

In [3]:
df

,id,clump_thickness,uni_cell_size,uni_cell_shape,mar_adhesion,epith_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [4]:
df.replace('?', -99999, inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               699 non-null    int64
 1   clump_thickness  699 non-null    int64
 2   uni_cell_size    699 non-null    int64
 3   uni_cell_shape   699 non-null    int64
 4   mar_adhesion     699 non-null    int64
 5   epith_cell_size  699 non-null    int64
 6   bare_nuclei      699 non-null    object
 7   bland_chromatin  699 non-null    int64
 8   normal_nucleoli  699 non-null    int64
 9   mitoses          699 non-null    int64
 10  class            699 non-null    int64
dtypes: int64(10), object(1)
memory usage: 60.2+ KB

In [6]:
df.drop(['id'],axis=1, inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   clump_thickness  699 non-null    int64
 1   uni_cell_size    699 non-null    int64
 2   uni_cell_shape   699 non-null    int64
 3   mar_adhesion     699 non-null    int64
 4   epith_cell_size  699 non-null    int64
 5   bare_nuclei      699 non-null    object
 6   bland_chromatin  699 non-null    int64
 7   normal_nucleoli  699 non-null    int64
 8   mitoses          699 non-null    int64
 9   class            699 non-null    int64
dtypes: int64(9), object(1)
memory usage: 54.7+ KB

In [8]:
X = np.array(df.drop(['class'],axis=1))
Y = np.array(df['class'])

In [9]:
X.shape

(699, 9)

In [10]:
def train_test_split(X,Y,test_size):
    X = np.array(X)
    Y = np.array(Y)
    train_size = 1-test_size
    train_count = int(len(X)*train_size)
    test_count = int(len(X)*test_size)
    return X[:train_count],X[train_count:],Y[:train_count],Y[train_count:]

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,0.2)

In [14]:
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((559, 9), (140, 9), (559,), (140,))

In [19]:
new_x = np.array([4,6,5,6,7,8,4,9,1])
new_x.shape

(9,)

In [21]:
x_reshape = new_x.reshape(1,-1)

In [25]:
x_reshape.shape

(1, 9)

In [5]:
import numpy as np
t = np.array([[0.5,2],[0.33,4],[0.27,5]])
t

array([[0.5 , 2.  ],
       [0.33, 4.  ],
       [0.27, 5.  ]])

In [6]:
t.transpose()

array([[0.5 , 0.33, 0.27],
       [2.  , 4.  , 5.  ]])